{% extends 'base.html.twig' %}

{% block title %}Hello BillingListController!{% endblock %}

{% block body %}


{# Pour afficher la liste des paiements sous forme de tableau #}
    <h1 class= text-primary>Liste des paiements</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Contract ID</th>
                <th>Amount</th>                
            </tr>
        </thead>
        <tbody>
            {% for billing in billings %}
                <tr>
                    <td>{{ billing.getId }}</td>
                    <td>{{ billing.getContractId }}</td>
                    <td>{{ billing.getAmount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

